.container{
    display: grid;
    grid-template-columns: repeat(8, 80px);
    justify-content: center;
    margin: 50px;
}

.box{
    height: 80px;
    /* padding: 20px; */
    background-color: black;
}

.box i{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    color: #fff;
}

#box1
{
    background-color: #ccc;
}

@media(max-width:660px) {
    .container{
        grid-template-columns: repeat(8, 45px);
    }
    .box,
    #box1{
        height: 45px;
    }
    .box i{
    font-size: 1rem;
    margin-top: 1rem;
    }
}

